<div>
  <h3>Contact Form:</h3>
  <div class="display-content">
    <form>
      <div>
        <label for="fname">
          <span>Name</span>
          <input type="text" id="fname" name="firstname" placeholder="Your name..">
        </label>
        <label for="fname">
          <span>Name</span>
          <input type="text" id="fname" name="firstname" placeholder="Your name..">
        </label>
        <label for="fname">
          <span>Name</span>
          <input type="text" id="fname" name="firstname" placeholder="Your name..">
        </label>
        <label for="fname">
          <span>Name</span>
          <input type="text" id="fname" name="firstname" placeholder="Your name..">
        </label>
        <label for="fname">
          <span>Name</span>
          <input type="text" id="fname" name="firstname" placeholder="Your name..">
        </label>
        <label for="fname">
          <span>Name</span>
          <input type="text" id="fname" name="firstname" placeholder="Your name..">
        </label>
        <label for="fname">
          <span>Name</span>
          <input type="text" id="fname" name="firstname" placeholder="Your name..">
        </label>
        <label for="fname">
          <span>Name</span>
          <input type="text" id="fname" name="firstname" placeholder="Your name..">
        </label>
        <div>
          <button class="btn">Update</button>
        </div>
      </div>
    </form>
    <div class="display-contact">

    </div>
  </div>
</div>