<div class="home-page">
  <h1>Angular-6 Crash Course!</h1>
  <div class="home-page__topics">
    <div class="box topic-1">
      <app-toggle-me></app-toggle-me>
    </div>
    <div class="box margin">
      <app-parent></app-parent>
    </div>
    <div class="box margin">
      <app-display-list></app-display-list>
    </div>
    <div class="box margin">
      <app-contact-form></app-contact-form>
    </div>
    <div class="box margin">
      <app-loading-data></app-loading-data>
    </div>
  </div>
</div>